@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.sr-only {
    display: none;
}

.border-hint {
    border: dotted green 3px;
    margin: 10px;
}

h3 {
    color: palegreen;
}